{% extends 'base.html.twig' %}

{% block title %}Inscriptionevenement{% endblock %}

{% block body %}
    <h1>Inscriptionevenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idinscriptionevenement</th>
                <td>{{ inscriptionevenement.idinscriptionevenement }}</td>
            </tr>
            <tr>
                <th>Date_inscription</th>
                <td>{{ inscriptionevenement.dateInscription ? inscriptionevenement.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ inscriptionevenement.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inscriptionevenement_index') }}">back to list</a>

    <a href="{{ path('app_inscriptionevenement_edit', {'idinscriptionevenement': inscriptionevenement.idinscriptionevenement}) }}">edit</a>

    {{ include('inscriptionevenement/_delete_form.html.twig') }}
{% endblock %}
