{% extends 'base.html.twig' %}

{% block title %}Feedbackevenement index{% endblock %}

{% block body %}
    <h1>Feedbackevenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idfeedbackevenement</th>
                <th>Note</th>
                <th>Commentaire</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedbackevenement in feedbackevenements %}
            <tr>
                <td>{{ feedbackevenement.idfeedbackevenement }}</td>
                <td>{{ feedbackevenement.note }}</td>
                <td>{{ feedbackevenement.commentaire }}</td>
                <td>{{ feedbackevenement.dateCreation ? feedbackevenement.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_feedbackevenement_show', {'idfeedbackevenement': feedbackevenement.idfeedbackevenement}) }}">show</a>
                    <a href="{{ path('app_feedbackevenement_edit', {'idfeedbackevenement': feedbackevenement.idfeedbackevenement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_feedbackevenement_new') }}">Create new</a>
{% endblock %}
