{% extends 'base.html.twig' %}

{% block title %}Feedbackevenement{% endblock %}

{% block body %}
    <h1>Feedbackevenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idfeedbackevenement</th>
                <td>{{ feedbackevenement.idfeedbackevenement }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ feedbackevenement.note }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ feedbackevenement.commentaire }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ feedbackevenement.dateCreation ? feedbackevenement.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_feedbackevenement_index') }}">back to list</a>

    <a href="{{ path('app_feedbackevenement_edit', {'idfeedbackevenement': feedbackevenement.idfeedbackevenement}) }}">edit</a>

    {{ include('feedbackevenement/_delete_form.html.twig') }}
{% endblock %}
